

@media screen and (max-width: 768) {
    /* .navbar-brand {
        text-align:center;
    }
    .navbar-text {
        text-align:center;
    } */
    .navbar .navbar-nav {
        display:inline-block;
        float:none;
    }
    .nav bar {
        text-align:center;
    }
}